version: '3.9'

services:
  postgres:
    image: postgres:17.5
    container_name: postgres
    restart: always
    ports:
      - "5444:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=personal-organization-planner
    volumes:
      - postgres_data:/var/lib/postgresql/data
